<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phresh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
    
    <!--Font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    
    <link rel="shortcut icon" href="/favicon.ico">

    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      

      

    <!-- SCRIPT 
    ============================================================-->  
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
      
      
  </head>
  <body>
  <!--HEADER ROW-->
  <div id="header-row" style="background-color: #3C74B9;color: #3C74B9;">
    <div class="container text-center" style="background-color: #3C74B9;color: #3C74B9;">
      <div class="row text-center" style="background-color: #3C74B9;color: #3C74B9;">
              <!--LOGO-->
              <div class="span12 text-center"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/logo2.png')}}" height="250" width="250"/></a>
              </div>
              
              <!-- /LOGO -->

            <!-- MAIN NAVIGATION -->  
      </div>
    </div>
  </div>
  <!-- /HEADER ROW -->

  


  <div class="container">

  <!--Carousel
  ==================================================-->

  <div id="myCarousel" class="carousel">
    <div class="carousel-inner">

      <div class="active item">
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption text-center">
                      <h1 class="text-center"><b>Phresh</b></h1>
                      <h2 class = "text-center">“A carrot saved is a carrot earned.”<br>
                        – Bugs Bunny</h2>
                      <a class="btn btn-large btn-primary" href="https://github.com/him229/hackIllinois-fresheries">View on Github</a>
                </div>

              </div>

                <div class="span6"> <img src="{{ url_for('static', filename='img/slide/slide1.jpg')}}"></div>

          </div>
        </div>
       



      </div>



<!-- Feature 
  ==============================================-->


  <div class="row feature-box">
      <div class="span12 cnt-title">
       <h1>You'll be impressed by how much it can do. </h1> 
        <span>Eat healthy. Prevent food wastage. Save money. Track habits. Live happily.</span>        
      </div>

      <div class="span4">
        <img src="{{ url_for('static', filename='img/icon1.png')}}">
        <h2>Just a Picture</h2>
        <p>
            Snap a picture of your receipt. We'll do the rest. We automatically add items from your receipt's picture to your dashboard. It's almost magic!
        </p>


      </div>

      <div class="span4">
        <img src="{{ url_for('static', filename='img/icon3.png')}}">
        <h2>Tracks Everything</h2>
        <p>
            Everything in your fridge now viewable on your phone. Track freshness and expiry dates of all items. Your health is important!
        </p>   
      </div>

      <div class="span4">
        <img src="{{ url_for('static', filename='img/icon2.png')}}">
        <h2>And more...</h2>
        <p>
            Keep an eye out for your eating and shopping habits. Make informed decisions. Don't waste food. Love your environment. We believe in you!
        </p>

      </div>
  </div>


<!-- /.Feature -->

  <div class="hr-divider"></div>

<!-- row -->

<div class="container text-center">
  <div class="span12 cnt-title">
      <h1>Here's how it works!</h1>
  </div>
  <div class="row">
      <div class="span4 text-center img-thumbnail"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/IMG_2445.jpg')}}" height="350" width="350"/></a></div>
      <div class="span4 text-center img-thumbnail"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/IMG_2447.jpg')}}" height="350" width="350"/></a></div>
      <div class="span4 text-center img-thumbnail"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/IMG_2448.jpg')}}" height="350" width="350"/></a></div>
  </div>

  <div class="row top-buffer">
      <div class="span6 text-center img-thumbnail"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/IMG_2449.jpg')}}" height="350" width="350"/></a></div>
      <div class="span6 text-center img-thumbnail"><a class="brand" href="#"><img src="{{ url_for('static', filename='img/IMG_2450.jpg')}}" height="350" width="350"/></a></div>
  </div>
</div>


<!--Footer
==========================-->

<div class="navbar navbar-default top-buffer" style="background-color: #3c74b9;width: 100%;text-align:center;margin-bottom:0px;margin-left:0px;margin-right:0px;">
    <div class="container" style = "width: 100%;padding-left:0px;padding-right:0px;">
      <div class="row-fluid text-center" style = "width: 100%;padding-left:0px;padding-right:0px;">
        <div class="span12 bottom-buffer"><h4 class="navbar-text" style="color:white;"><b>3rd Place @ HackIllinois 2016</b></h3>
        <small class = "text-center bottom-buffer" style="color:white;">HackIllinois was amazing.</small>
        </div>
      </div>
    </div>
</footer>

<!--/.Footer-->

  </body>
</html>